*{
    box-sizing: border-box;
    font-family: 'Secular One', sans-serif;
}

body{
    max-width: 100%;
    margin:0;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(12, 22, 77, 1) 0%, rgba(25, 11, 34, 1) 48%);
    color:white;
    display: block;
}

header{
    min-height: 100vh;
    display:flex;
    justify-content: flex-end;
    align-items:baseline;
    padding-right:5rem;
    padding-top:3rem;
}

h1{
    font-size:3rem;
    text-transform: uppercase;
}

h4{
    font-size:1rem;
    font-family: 'Lora', serif;
    color: rgba(255, 208, 41, 1);
    text-transform: uppercase;
}

p{
    padding:0;
    font-family: 'Roboto Condensed', sans-serif;
}

div{
    padding:1rem;
}

nav{
    margin: 0;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-areas: 
    "#sun #mercury #venus #earth #mars #jupiter #saturn #uranus #neptune";
    padding-right: 3rem;
}

button{
    border-radius: 50%;
    width:3rem;
    height:3rem;
    outline-color: none;
    border-color: none;
}

#sun{
    background-color: #ffd029;
    position: absolute;
    width: 80rem;
    height: 80rem;
    left: -72rem;
    top: -12rem;
    border-radius: 50%;
}

#planet{
    background-color:#428ED5;
    position: absolute;
    width: 80rem;
    height: 80rem;
    left: -72rem;
    top: -12rem;
    border-radius: 50%;
}

#mercury{
    position: absolute;
    width: 14px;
    height: 14px;
    left: 203px;
    top: 443px;
    background: #888888;
}

#venus{
    position: absolute;
width: 26px;
height: 26px;
left: 280px;
top: 437px;

background: #E7CDCD;
}

#earth{
    position: absolute;
width: 28px;
height: 28px;
left: 373px;
top: 436px;

background: #428ED5;
}

#mars{
    position: absolute;
    width: 14px;
    height: 14px;
    left: 473px;
    top: 443px;

    background: #EF5F5F;
}

#jupiter{
    position: absolute;
    width: 188px;
    height: 188px;
    left: 576px;
    top: 356px;

    background: #E29468;
}

#saturn{
    position: absolute;
    width: 144px;
    height: 144px;
    left: 875px;
    top: 378px;

    background: #C7AA72;
}

/*saturnus ring
position: absolute;
width: 218.23px;
height: 5.5px;
left: 851.13px;
top: 502.18px;

background: rgba(255, 255, 255, 0.4);
transform: rotate(-30deg);*/



#uranus{
    position: absolute;
    width: 66px;
    height: 66px;
    left: 1136px;
    top: 417px;

background: #C9D4F1;
}

#neptune{
    position: absolute;
    width: 66px;
    height: 66px;
    left: 1306px;
    top: 417px;
    
    background: #7A91A7;
}

article{
    /*width:100%;
    height: 100vh;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

article header{
    min-height: 1rem;
    max-height: 5rem;
    align-items:center;
    justify-content: flex-start;
    padding: 0;
}

article .grid-container{
    padding:3rem;
    max-width: 600px;

}

section{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}